*.class
*.so
*.a
*.o
*.lo
*.la
*.pyc
*.Plo
*.Po
*.dirstamp
*.tar.gz
.deps/
.libs/
autom4te.cache/
config.h
configure
config.sub
depcomp
install-sh
build-aux/
Makefile.in
Makefile
libtool
ltmain.sh
missing
stamp-h1
aclocal.m4
config.guess
config.h.in
config.log
*~
*.pc
config.status
